// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700');

@import 'custom-styles/all';

// External frameworks
@import '~bulma/bulma';
@import '~@fortawesome/fontawesome-pro/scss/brands';
@import '~@fortawesome/fontawesome-pro/scss/solid';
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';

// Pages
@import './components/pages/home/home.styles.scss';
@import './components/pages/about/about.styles.scss';

// Components
@import './components/layout/navbar/navbar.styles';
